/* Footer.css */

.footer {
  background-color: #9c8b8ba7;
  color: #161515;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.footer__title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #070707;
  font-size: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  color: #070707;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.conditions {
  text-align: center;
  background-color: crimson;
  padding: 10px;
}

.conditions p {
  text-align: center;
  font-size: 10px;
}

.Media {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 30x;
}

.Media .footer__title{
  text-align: center;
}
.Media .footer-column{
  align-items: center;
  padding: 30x;
}

.Media .footer__list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.Media .footer__item{
  margin: 0 10px;
  color: #000;
  text-decoration: none;
}

.Media .footer__item:hover{
  color: crimson;
  font-size: 35px;
}

.created {
  background: #111;
  padding: 15px 23px;
  color: crimson;
  text-align: center;
}

.created span a {
  color: crimson;
  text-decoration: none;
}

.created span a:hover {
  color: crimson;
}

.main {
  background-color: #070707;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
